<div>
  <p>
    <%= Spree.t(:bank_transfer_order_thanks) %><br/>
    <%= Spree.t(:bank_transfer_instructions) %>
  </p>

  <%= link_to source.instructions_url do %>
    <%= Spree.t(:bank_transfer_how_to_pay) %>
  <% end %>
</div>
<br>

<table class="table table-condensed table-bordered">
  <tr class="info"><td><%= Spree::BankTransfer.human_attribute_name(:order_id) %></td><td><%= source.order_id %></td></tr>
  <tr class="info"><td><%= Spree::BankTransfer.human_attribute_name(:expires_at) %></td><td><%= source.expires_at %></td></tr>
</table>
