<% store_name = Spree.t("conveniences.#{source.convenience}") %>
<% receipt_number = Spree.t("konbini_receipt_number.#{source.convenience}") %>
<div>
  <%= Spree.t(:konbini_thanks) %><br>
  <%= Spree.t(:konbini_instructions, convenience: store_name, receipt_number: receipt_number) %><br>
  <br>
  <%= link_to source.instructions_url do %>
    <%= Spree.t(:konbini_how_to_pay, convenience: store_name) %>
  <% end %>
</div>
<br>
<table class="table table-condensed table-bordered">
<tr class="info"><td><%= receipt_number %></td><td><strong><%= source.receipt %></strong></td></tr>
<tr class="info"J><td><%= Spree.t(:konbini_confirmation_number) %></td><td><strong><%= source.confirmation_code %></strong></td></tr>
<tr class="info"><td><%= Spree.t(:konbini_end_date) %></td><td><strong><%= source.expires_at %></strong></td></tr>
</table>
