<div>
  <p>
    <%= Spree.t(:payeasy_order_thanks) %><br/>
    <%= Spree.t(:payeasy_instructions) %>
  </p>

  <%= link_to source.instructions_url do %>
    <%= Spree.t(:payeasy_how_to_pay) %>
  <% end %>

  <br><br>
  <p><b><%= Spree.t(:payment_fee, fee: "190円") %></b></p>
</div>
<br>

<table class="table table-condensed table-bordered">
  <tr class="info"><td><%= Spree::PayEasy.human_attribute_name(:bank_id) %></td><td><%= source.bank_id %></td></tr>
  <tr class="info"><td><%= Spree::PayEasy.human_attribute_name(:customer_id) %></td><td><%= source.customer_id %></td></tr>
  <tr class="info"><td><%= Spree::PayEasy.human_attribute_name(:confirmation_id) %></td><td><%= source.confirmation_id %></td></tr>
  <tr class="info"><td><%= Spree::PayEasy.human_attribute_name(:expires_at) %></td><td><%= source.expires_at %></td></tr>
</table>
